BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 100
AccessModifierOffset: -2
AllowShortIfStatementsOnASingleLine: false
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignOperands: Align
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: true
  BeforeElse: true
  IndentBraces: false
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: true
SpaceAfterCStyleCast: false
SpacesInParentheses: false
